@tailwind base;
@tailwind components;
@tailwind utilities;
.color {
    height: 4.61em;
    cursor: pointer;
}

.name {
    height: 4.61em;
}

.invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}